.cardsContainer {
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-md);
  .card {
    padding: var(--margin-sm);
    margin: var(--margin-sm);
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    .text {
      height: 200px;
    }
    Icon {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .icon-background {
      background-color: var(--green);
      width: 60px;
      height: 60px;
      position: relative;
      border-radius: 5px;
      svg {
        font-size: 55px;
        color: var(--white);
      }
    }

    span {
      display: block;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
  h2 {
    margin: 0 !important;
    margin-bottom: 5px !important;
    color: var(--violet);
  }
}
@media (max-width: 500px) {
  .cardsContainer {
    margin: 15px;
  }
  .card {
    width: 120px !important;
    height: 270px !important;
    margin: 5px !important;
    padding: 10px !important;
  }
  .icon-background {
    width: 35px !important;
    height: 35px !important;
  }
  svg {
    font-size: 30px !important;
  }
}
