.instagram {
  padding: 50px 50px 0 50px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    color: white;
    text-decoration: none;
    svg {
      margin-left: 5px;
    }
  }
  a:hover {
    text-decoration: underline;
    color: var(--grey);
  }
}
@media (max-width: 600px) {
  .instagram {
    padding: 0;
  }
}
